**1. One tailed t-test** - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [2]:
#Impor libraries
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
data = pd.read_csv('machine.txt', encoding='utf=16', sep= '\t')

In [11]:
data

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [22]:
data.columns

Index(['New machine', '    Old machine'], dtype='object')

In [ ]:
#Step 1 set the hypothesis

$$H0: \mu A <= \mu B$$

$$H1: \mu A ≥ \mu B$$

Where new machine is A and old machine is B

In [34]:
#Step 2 set the significane level:
print("The significance level is 0.05")

The significance level is 0.05

In [24]:
#Step 3 pick a sample
#Doing the ab sample
sample = data.sample(10, random_state=1)
sample_a, sample_b = sample['New machine'], sample['    Old machine']

In [25]:
#Step 4 compute the statistic 
sample_a_mean, sample_b_mean = sample['New machine'].mean(), sample['    Old machine'].mean()
sample_a_std, sample_b_std = sample['New machine'].std(ddof=1), sample['    Old machine'].std(ddof=1)
sp = ( len(sample_a) - 1 ) * ( sample_a_std**2 ) +  ( len(sample_b) - 1 ) * ( sample_b_std**2 )
sp /= ( len(sample_a) + len(sample_b) - 2)
sp = np.sqrt(sp)
r = np.sqrt( (1/len(sample_a)) + (1/len(sample_b)) )
t = ( sample_a_mean - sample_b_mean )/ (sp * r)

print("The mean of sample a is {:.2f}".format(sample_a_mean))
print("The mean of sample b is {:.2f}".format(sample_b_mean))
print("The standard deviation of sample a is {:.2f}".format(sample_a_std))
print("The standard deviation of sample b is {:.2f}".format(sample_b_std))
print("The ratio of the sample variances is {:.2f} which is bigger than 0.5 and smaller than 2".format(sample_a_std/sample_b_std))
print("The t statistic is: {:.2f}".format(t))

The mean of sample a is 42.14
The mean of sample b is 43.23
The standard deviation of sample a is 0.68
The standard deviation of sample b is 0.75
The ratio of the sample variances is 0.91 which is bigger than 0.5 and smaller than 2
The t statistic is: -3.40

In [35]:
#Step 5 calculate either the critical value or p value or both if you like

#First looking at critical values 
#positive critical value, meaning the critical value on the right
print(st.t.ppf(1-(0.05/2),df = len(sample_a)+len(sample_b)-2))
#negative critical value, meaning the critical value on the left
print(st.t.ppf((0.05/2),df = len(sample_a)+len(sample_b)-2))

2.10092204024096
-2.10092204024096

In [38]:
#here we calculate the p value
p_value = st.t.cdf(t,df = len(sample_a)+len(sample_b)-2)
p_value

0.0016055712503872579

In [37]:
#Step 6 Decision
print("As the pvalue is {} and lower than the significance level of 0.05, we reject the null hypothesis!".format(p_value))

As the pvalue is 0.0016055712503872579 and lower than the significance level of 0.05, we reject the null hypothesis!

**2. Matched Pairs Test -** In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [39]:
pokemon = pd.read_csv('pokemon.csv')

In [41]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [ ]:
#Step 1 - Set the hypothesis

$$H0: \mu_{b} = \mu_{a} → \mu_{b} - \mu_{a} = 0$$
$$H1: \mu_{b} \neq \mu_{a} → \mu_{b} - \mu_{a} \neq 0$$

Where **b** is attack and **a** is defence

In [45]:
#Step 2 - Choose the significance level

print("Significance level alpha is 0.05")

Significance level alpha is 0.05

In [43]:
#Step 3-  pick a sample
sample = pokemon.sample(30, random_state=1)
sample['difference'] = sample['Attack']-sample['Defense']
sample.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,difference
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,26
510,460,Abomasnow,Grass,Ice,494,90,92,75,92,85,60,4,False,17
175,161,Sentret,Normal,NaN,215,35,46,34,35,45,20,2,False,12
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False,-8
242,224,Octillery,Water,NaN,480,75,105,75,105,75,45,2,False,30

In [44]:
#Lests only choose the relevant columns for the statistical test
sample = sample[['Attack', 'Defense', 'difference']]

     Attack  Defense  difference
8       104       78          26
510      92       75          17
175      46       34          12
735      50       58          -8
242     105       75          30
764      38       33           5
540     120      120           0
430      70      160         -90
84      100       70          30
642      87       63          24
255      35       35           0
111      95       85          10
289      35       55         -20
349     140       70          70
703     100       80          20
521     110      130         -20
437     104       71          33
565      60       45          15
224     125      230        -105
371      48       43           5
301      30       30           0
537      75      130         -55
341      40       50         -10
135      95       57          38
708     125       90          35
47       80       70          10
666      55       55           0
60       82       78           4
741     100       62          38
117      65       95         -30

In [46]:
#Step 4 - compute the statistic

sample_diff_mean, sample_diff_std = sample['difference'].mean(), sample['difference'].std(ddof=1)
sample_diff_mean, sample_diff_std

(2.8, 36.32079294288603)

In [49]:
t = sample_diff_mean / ( sample_diff_std / np.sqrt(sample.shape[0]) )
print("The mean of our samples differences is: {:.2f}".format(sample_diff_mean))
print("The standard deviation of our samples differences is: {:.2f}".format(sample_diff_std))
print("Our t statistics is: {:.2f}".format(t))

The mean of our samples differences is: 2.80
The standard deviation of our samples differences is: 36.32
Our t statistics is: 0.42

In [ ]:
#Step 5 - get the critical value or p value

In [56]:
#critical value
tc = st.t.ppf(1-(0.05/2),df= sample.shape[0] - 1)
tc
#print(st.t.ppf((0.05/2),df = sample.shape[0] - 1))

2.045229642132703

In [52]:
#p value
p_value = st.t.cdf(t,df = sample.shape[0] - 1)
p_value

0.6620194128841399

In [54]:
#Step 6 - Decide 
print("As the pvalue is {} and higher than the significance level of 0.05, we ACCEPT the null hypothesis!".format(p_value))

As the pvalue is 0.6620194128841399 and higher than the significance level of 0.05, we ACCEPT the null hypothesis!

# OPTIONAL PART | Inferential statistics - ANOVA

In [65]:
power = pd.read_excel('anova_lab_data.xlsx')

In [66]:
power.shape

(15, 2)

In [67]:
power

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [68]:
#First let me convert the Power column into numerical
power_list = []
for x in power['Power ']:
    power_list.append(x.split()[0])

power_list = [int(x) for x in power_list]
power['Power'] = power_list
power

   Power   Etching Rate  Power
0   160 W          5.43    160
1   180 W          6.24    180
2   200 W          8.79    200
3   160 W          5.71    160
4   180 W          6.71    180
5   200 W          9.20    200
6   160 W          6.22    160
7   180 W          5.98    180
8   200 W          7.90    200
9   160 W          6.01    160
10  180 W          5.66    180
11  200 W          8.15    200
12  160 W          5.59    160
13  180 W          6.60    180
14  200 W          7.55    200

In [69]:
power.columns

Index(['Power ', 'Etching Rate', 'Power'], dtype='object')

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder

- State the null hypothesis
- State the alternate hypothesis
- What is the significance level
- What are the degrees of freedom of model, error terms, and total DoF

In [ ]:
#Lets sstart:
#First with hypothesis

- State the null hypothesis
- State the alternate hypothesis

$$H0: \mu_{1}=\mu_{2}=\mu_{3}=⋯=\mu_{n}$$
$$H1: \mu_{i}\neq\mu_{j}$$

#Second :
What is the **significance level**?

Answer: **Significane Level = 0.05**

What are the degrees of freedom of model, error terms, and total DoF

In [52]:
group_df = power.groupby('Power')['Etching Rate'].agg(Etching_Rate_mean='mean',Samples='size').reset_index()
group_df

   Power  Etching_Rate_mean  Samples
0    160              5.792        5
1    180              6.238        5
2    200              8.318        5

First $\hat{S}_{t}^{2}$:

In [73]:
# S2t
# In this case, the groups are the power, and the "y" is the "Etching Rate"
S2t = 0
for p in power['Power'].unique():
    ng = len(power[power['Power'] == p])  
    S2t  += ng * ( ( power[power['Power'] == p]['Etching Rate'].mean() - power['Etching Rate'].mean() ) ** 2) 
S2t /= ( power['Power'].nunique() - 1 ) # Number of  K = groups/powers 

print("The value of S2t is {:.2f}".format(S2t))

The value of S2t is 9.09

Second $\hat{S}_{E}^{2}$:

In [75]:
#S2E
S2E = 0
for p in power['Power'].unique():
    for rate in power[power['Power'] == p]['Etching Rate']:
        S2E += ( rate - power[power['Power'] == p]['Etching Rate'].mean() ) ** 2
S2E /= ( len(power) - power['Power'].nunique() ) 

print()
print("The value of S2E is {:.2f}".format(S2E))

The value of S2E is 0.25

Third: Compute **f**

In [76]:
F = S2t / S2E
print("The value of F is {:.2f}".format(F))

The value of F is 36.88

The shape of the F distribution depends on two sets of degrees of freedom:  $d_{1}=K-1$ and $d_{2}=N-K$

In [78]:
#here we find out the number of degrees of freedom
d1 = power['Power'].nunique() - 1
d2 = len(power) - power['Power'].nunique()

print("Number of degrees of freedom d1: ",d1)
print("Number of degrees of freedom d2: ",d2)

Number of degrees of freedom d1:  2
Number of degrees of freedom d2:  12

The probability to get any F value lower or equal to out F can be obtained with the CDF:

In [79]:
# probability to get any value smaller or equal to F
st.f.cdf(F,dfn=d1, dfd=d2)

0.9999924934157276

In [80]:
# probability to get a value bigger than F
1 - st.f.cdf(F,dfn=d1, dfd=d2)

7.5065842723986975e-06

In [82]:
print("As 7.5065842723986975e-06 < 0.05, we reject the null hypothesis!")

As 7.5065842723986975e-06 < 0.05, we reject the null hypothesis!

The critical value which corresponds to an area of 0.05 is given by:

In [87]:
Fc = st.f.ppf(1-0.05,dfn=d1, dfd=d2)

print("The critical value which corresponds to an area of 0.05 is: {:.2f}".format(Fc))
print("The value of F is {:.2f}".format(F))

The critical value which corresponds to an area of 0.05 is: 3.89
The value of F is 36.88

F is bigger than the critical value, we reject H0.

So this shows that the means of etching rates of at least one of of the groups(powers) are not equal! So this means that  changing the power of the plasma beam does affect the etching rate of the machine